<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
<head>{{ if .IsPage }}
  <title>{{ .Title}} &#124; {{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Title }} &#124; {{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ .Site.Params.cdnUrl }}{{ .Params.imagesrc }}" />{{ else }}
  <title>{{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Site.BaseURL }}" />
  <meta property="og:image" content="https://cdn.weshargrove-photos.net/mountain/valley-view-winter.jpg" />{{ end }}
  <meta property="og:type" content="website" />
  <meta charset="UTF-8" />
  <meta name='viewport' content="width=device-width">
  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  <link href="https://micro.blog/{{ .Site.Params.MicroBlogUsername }}" rel="me" />
  <link rel="icon" href="data:,">{{ $style := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
  <script async src="/lazy.js"></script>
</head>
<body>
  <header>
    <h1><a href="/">Wes Hargrove Photography</a></h1>
  </header>
  {{ partial "header/nav.html" . }}
  {{ block "main" . }}
  {{ end }}
  {{ partial "footer/footer.html" . }}
  <script>
    if (window.location.host !== 'www.weshargrove.com')
        window.goatcounter = {no_onload: true}
  </script>
  <script data-goatcounter="https://weshargrovephotography.goatcounter.com/count"
          async src="/count.js"></script>
</body>
</html>
