<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">

<head>
  {{ if .IsPage }}
  <title>{{ .Title}} &#124; {{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Title }} &#124; {{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ .Site.Params.photoBaseUrl }}{{ .Params.imagesrc }}" />
  {{ else if eq .Kind "term"}}
  <title>{{ .Title}} Gallery &#124; {{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Title}} Gallery &#124; {{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ .Site.Params.photoBaseUrl }}{{ .Params.thumbnail.src }}" />
  {{ else }}
  <title>{{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Site.BaseURL }}" />
  <meta property="og:image" content="{{ .Site.Params.photoBaseUrl }}mountain/valley-view-winter.jpg" />
  {{ end }}
  <meta property="og:type" content="website" />
  <meta charset="UTF-8" />
  <meta name='viewport' content="width=device-width">
  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  <link href="https://micro.blog/{{ .Site.Params.MicroBlogUsername }}" rel="me" />
  <link rel="icon" href="data:,">{{ $style := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
  <script async src="/lazy.js"></script>
  <script defer data-domain="weshargrove.com" src="https://plausible.io/js/script.js"></script>
</head>

<body>
  <header>
    <h1><a href="/">Wes Hargrove Photography</a></h1>
  </header>
  {{ partial "header/nav.html" . }}
  {{ block "main" . }}
  {{ end }}
  {{ partial "footer/footer.html" . }}
  <a style="display: none;" rel="me" href="https://mastodon.social/@whargrove"></a>
</body>

</html>
