<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
<head>
  {{ if .Site.IsServer }}
  <!-- Google analytics disabled for development -->
  {{ else }}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', {{ .Site.GoogleAnalytics }});
  </script>
  {{ end }}
  {{ if .IsPage }}
  <title>{{ .Title}} &#124; {{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Title }} &#124; {{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ .Site.Params.cdnUrl }}{{ .Params.imagesrc }}" />
  {{ else }}
  <title>{{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Site.BaseURL }}" />
  <meta property="og:image" content="https://cdn.weshargrove.com/portfolio/merced-in-winter.jpg" />
  {{ end }}
  <meta property="og:type" content="website" />
  <meta charset="UTF-8" />
  <meta name='viewport' content="width=device-width">
  <link href="https://micro.blog/{{ .Site.Params.MicroBlogUsername }}" rel="me" />
  <link rel="stylesheet" href="/reset.css" />
  <link rel="stylesheet" href="/base.css" />
  <link rel="stylesheet" href="/grid.css" />
</head>
<body>
  <header>
    <h1><a href="/">Wes Hargrove Photography</a></h1>
  </header>
  {{ block "main" . }}
  {{ end }}
  <footer>
    {{ block "footer" . }}
    {{ end }}
  </footer>
</body>
</html>
