{{ define "main" }}
<main id="gallery-detail">
  <h2>{{ .Title }}</h1>
  <p>{{ .Content }}</p>
  <section id="gallery-images">
    {{ with $gallery := index .Site.Taxonomies.galleries $.Slug }}
      {{ range $gallery.Pages }}
        <div class="gallery-image">
          <a href="{{ .Permalink }}">
            <figure>
              <img src="{{ .Site.Params.CdnUrl }}{{ .Params.imagesrc }}" alt="{{ .Title }}" />
            </figure>
            <p>{{ .Title }}</p>
          </a>
        </div>
      {{ end }}
    {{ end }}
  </div>
</main>
{{ end }}
