{{ define "main" }}
<div class="main">
  <div id="galleries">
  <h1>Galleries</h1>
  {{ range where .Pages "Title" "!=" "Portfolio" }}
  <div class="gallery-item">
    <div class="gallery-title">
      <a href="{{ .Permalink }}">
        <h2>{{ upper .Title }}</h2>
      </a>
    </div>
    <div class="gallery-thumbnail">
      <a href="{{ .Permalink }}">
        <img src="{{ .Site.Params.CdnUrl }}{{ .Params.thumbnail.image_src }}" alt="{{ .Params.thumbnail.title }}" />
      </a>
    </div>
  </div>
  {{ end }}
  </div>
</div>
{{ end }}
