body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 2em;
  margin: 1em;
}

header > a {
  text-decoration: none;
  text-decoration-color: unset;
}

header > a:visited {
  color: black;
}

header > a > h1 {
  font-size: 3rem;
  font-weight: 200;
}

.main {
  padding-top: 1em;
  max-width: 100%;
}

