body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 2em;
  margin: 1em;
}

header > a {
  text-decoration: none;
  text-decoration-color: unset;
}

header > a:visited {
  color: black;
}

header > a > h1 {
  font-size: 3rem;
  font-weight: 200;
}

.main {
  padding-top: 1em;
  max-width: 100%;
}

#photo {
  margin: 0 auto;
  display: flex;
  max-width: 1000px;
  justify-content: center;
}

#photo.landscape > img {
  max-width: 100%;
}

#photo.portrait > img {
  max-height: 100%;
}

#description {
  margin-top: 1em;
  text-align: center;
}

#description > h2 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

#description > p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  font-weight: 200;
  font-style: italic;
}
