* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 2em;
  margin: 1em;
}

header > h1 > a {
  color: black;
  text-decoration: none;
  text-decoration-color: unset;
}

header > h1 > a:visited {
  color: black;
}

header > h1 > a {
  font-size: 3rem;
  font-weight: 200;
}

/* #region Photo Detail */

.main {
  display: flex;
  flex-flow: column;
  padding-top: 1em;
  max-width: 100%;
}

#photo {
  justify-content: center;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 0;
  max-width: 1000px;
  min-height: 0;
}

#photo > img {
  object-fit: cover;
  max-width: 100%;
}

#photo.portrait > img {
  max-height: 100%;
}

#description {
  padding-top: 1em;
  margin: 0 auto;
  text-align: center;
}

#description > h2 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

#description > p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  font-weight: 200;
  font-style: italic;
}

/* #endregion */

@media only screen and (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
  }

  header {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .main {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  header > h1 > a {
    font-size: 2rem;
  }

  #description > h2 {
    font-size: 1.5rem;
  }

  #description > p {
    font-size: 0.75rem;
  }


}
