.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  row-gap: 1em;
  column-gap: 1em;
  grid-gap: 1em 1em;
}

.thumbnail img {
  max-width: 100%;
  object-fit: cover;
}

.grid > .portrait {
  grid-row: span 2;
}
